@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/npm/@fontsource/aref-ruqaa-ink@4.5.0/700.min.css');

html {
    scroll-behavior: smooth;
}

body{
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    background-color: #250505;
}

.landing-page{
    background-image: url("images/landing.png");
}

.other-page{
    background-image: url("images/long-page.png");
}
/*
*site header
*/

.logo {
    margin-left: 1vw;
    position: relative;
    width: 5vw;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 3;
    padding-right: 5vw;
}

.tab {
    transition: color 300ms;
    background-color: white;
    text-align: center;
    padding: 0.5em 1em;
    margin: 1.5vw;
    color: #801111;
    border-radius: 0.5vw;
    letter-spacing: 0.2rem;
    font-family: 'Calibre Web', sans-serif;
    font-weight: 700;
    font-size: 1.4vw;
}


.tab:hover {
    color: #ed1919;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

/*
* opening page 
*/


@keyframes slide-down {
    0% {
        transform: translateY(-20vw);
    }

    100% {
        transform: translateY(0);
    }
}

.opening-section-container {
    position: relative;
    text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.opening-section {
    margin-top: 8vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.opening-words {
    animation: 1s ease-out 0s 1 slide-down;
    margin-right: 10vw;
}

.slogan {
    letter-spacing: 0.3rem;
    font-family: 'Calibre Web';
    font-weight: 700;
    font-size: 7vw;
    color: white;
}

.page-header {
    letter-spacing: 0.3rem;
    font-family: 'Calibre Web';
    font-weight: 700;
    font-size: 5vw;
    color: white;
}

.btn {
    transition: color 300ms;
    background-color: white;
    text-align: center;
    padding: 0.5em 1em;
    margin-top: 1.5vw;
    color: #801111;
    border-radius: 0.5vw;
    letter-spacing: 0.2rem;
    font-family: 'Calibre Web', sans-serif;
    font-weight: 700;
    font-size: 2vw;
}

.btn:hover {
    color: #801111;
}

/*
* content
*/

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-header{
    align-self: center;
    margin-top: 2vw;
}

.content{
    display: flex;
    flex-direction: row;
}

.information{
    color:white;
    font-size: 1.4vw;
    margin:2vw;
    background-color: #801111;
    padding: 1vw;
    border-radius:1rem;
    line-height: 2vw;
    width: 50%;
    font-family:'Lucida Sans', sans-serif;
}

.image-container{
    margin:2vw;
    background-color: #ffffff;
    padding: 1vw;
    border-radius:1rem;
    width: 50%;
    align-self: center;
}

.image{
    object-fit: contain;
    width: 100%;
    border-radius: 1rem;
    align-items: center;
}

.video{
    object-fit: contain;
    width: 100%;
    border-radius: 1rem;
}